<!DOCTYPE html>
<html>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="angular/angular.min.js"></script>
    <script src="mahi.js"></script>
<body class="container">

<div class="row">
    <div class="col-md-6">
        <div ng-app="myApp" ng-controller="myCtrl">

<div class="alert alert-info" >
                <div >                    
                    Search a Company: <input type="text" ng-model="pattern" class="form-control" ng-change="readpattern()"><br>
                </div>
                <div>
                    {{pattern}}
                </div>
<div>
                    <ul>
                        <li ng-repeat="x in companies2">{{x}}</li>
                    </ul>
                </div>
</div>
                <div>
                    <ul>
                                        <li ng-repeat="x in companies">{{x.name}}</li>
                                    </ul>
                </div>
    </div>
</div>

<script>
    
</script>

</body>
</html>